<html>
<head>
    <title>Python API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="30;url=http://127.0.0.1/"/>
    <style>
        body {
            background-color: #000000;
            color: #ffffff;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            text-align: center;
        }
        h1 {
            font-size: 50px;
        }
        p {
            font-size: 30px;
        }
    </style>
</head>
<body>
    <h1>Python API</h1>
    <p>API is running</p>
    <p><img src="{{meme_pic}}"></p>
    <p>Current subreddit: {{subreddit}}</p>
<body>
</html>